* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: rgb(33 150 243);
    --seconder-color: rgb(244 67 54);
}
.contect {
    height: 100vh;
    background-color: #ddd;
}
.contect .contianer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.contect .contianer .head {
    align-self: flex-end;
    padding: 15px 20px;
    padding-right: 40px;
    color: white;
    background-color:var(--main-color);
    margin-top: 20px;
    position: relative;
}
.contect .contianer .head::after {
    content: "";
    position: absolute;
    border-width: 30px;
    border: 30px solid #ddd;
    border-color: transparent #ddd transparent transparent;
    top: -4px;
    right: 0px;

}
.contect .contianer .box {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    justify-items: center;
    gap: 30px;
}
ul {
    list-style: none;
}
.contect .contianer .box> div{
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    border: 3px solid #ddd;
}
.contect .contianer .box> div > h2 {
 background-color: var(--main-color);
 padding: 10px;
 margin-bottom: 10px;
 color: white;
 text-indent: 10px;
 border-top-left-radius: 15px;
 border-top-right-radius: 15px;

}
.contect .contianer .box .red h2 {
    background-color: var(--seconder-color);
}
ul li {
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
ul li span {
    background-color: green;
    display: block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}
ul li span::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 11px;
    background-color: #ddd;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(37deg);
}
ul li span::before  {
    content: "";
    position: absolute;
    width: 4px;
    height: 9px;
    background-color: #ddd;
    left: 36%;
    top: 61%;
    transform: translate(-50%, -50%) rotate(310deg);
}
ul li div {
    background-color: var(--seconder-color);
    display: block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}
ul li div::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 14px;
    background-color: #ddd;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(317deg);
}
ul li div::after  {
    content: "";
    position: absolute;
    width: 4px;
    height: 14px;
    background-color: #ddd;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(43deg);
}